.intro p {
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0.7;
}
.intro h1 {
  font-size: 3rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 15px;
}

#about .lead {
  margin-top: 15px;
}
#about .profile-img {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 100px;
}

.skill {
  margin-bottom: 15px;
}
.skill .progress {
  height: 2px;
}

.gallery p {
  margin-bottom: 40px;
}
.gallery p > a {
  color: #fff;
  font-weight: bold;
}
.gallery .box {
  position: relative;
  height: 250px;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 0;
  border-radius: 10px;
}
.gallery .box h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  font-size: 18px;
}
.gallery .box a {
  color: #fff;
  font-size: 10px;
  border: 1px solid #fff;
  padding: 6px 12px;
  display: inline-block;
}
.gallery .box a:hover {
  color: #333;
  background-color: #fff;
  text-decoration: none;
}
.gallery .box .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 10px;
  padding: 20px;
}
.gallery .lava-hotels { background-image: url(../img/portfolio_lava-hotels.jpg); }
.gallery .ams { background-image: url(../img/portfolio_ams.jpg); }
.gallery .wbs { background-image: url(../img/portfolio_wbs.jpg); }
.gallery .lava-hotels .overlay {
  background-color: rgba(0,86,179,0.5);
}
.gallery .ams .overlay {
  background-color: rgba(0,0,0,0.7);
}
.gallery .wbs .overlay {
  background-color: rgba(158,138,120,0.5);
}
.gallery .box .text-content {
  transition: opacity 0.3s ease;
}
.gallery .box:hover .text-content {
  opacity: 0;
}
.gallery .box:hover .description {
  opacity: 1;
}
.gallery .box .description {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}
.gallery .box .description p {
  margin-bottom: 10px;
}

p.social {
  text-align: left;
}

footer p {
  font-style: normal;
}

.credits {
  font-size: 10px;
}
.credits a {
  color: #fff;
}
